@import "./base-variables";
@import "bootstrap/bootstrap";
/* МИКСИНЫ
@mixin hover {
  .works-hover {
    background: rgba(14, 180, 147, 0.9);
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    display: none;

    .works-hover-icon {
      display: inline-block;
      background: url(../../images/sprite.png) no-repeat -6px -192px;
      width: 40px;
      height: 40px;
      margin-bottom: 1rem;
    }
  }
}

@mixin cardhover {
  position: absolute;
  background: rgba(14, 180, 147, 0.9);
  top: 0;
  height: 100%;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  opacity: 0;
  .bg {
    background: rgba(18, 128, 106, 0.9);
    padding: 12px 12px;
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;

    .twiter {
      background: url(../../images/sprite.png) no-repeat -153px -80px;
      width: 21px;
      height: 19px;
      display: inline-block;
    }

    .facebook {
      background: url(../../images/sprite.png) no-repeat -68px -76px;
      width: 11px;
      height: 23px;
      display: inline-block;
    }

    .google {
      background: url(../../images/sprite.png) no-repeat -113px -76px;
      width: 23px;
      height: 23px;
      display: inline-block;
    }
  }
}*/

/*Header container*/
.header-container {
  background: transparent;
  position: absolute;
  z-index: 16;
  width: 100%;
}
.text-carousel {
  top: 30%;
  .text-carousel-line {
    display: inline-block;
    border-top: 1px solid #00e0d0;
    width: 50px;
    padding: 30px 0;
  }
  a {
    border: 1px solid #00e0d0;
    padding: 15px 15px;
    border-radius: 1px;
    text-decoration: none;
  }
  h1 {
    font-size: 32px;
    padding-bottom: 30px;
  }
  p {
    padding-bottom: 50px;
  }
 
}
.carousel-indicators {
  position: absolute;
  z-index: 15;
  display: flex;
  justify-content: center;
  list-style: none;

  li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 0;
    margin-left: 0;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid rgba(187, 186, 188, 0.8);
    border-radius: 50%;
    background-color: transparent;
    background-clip: padding-box;
    margin: 0 5px 0 0;
    

    opacity: 1;
    transition: opacity 0.6s ease;

    &.active {
      background-color: #00e0d0;
    }
  }
}
.logo-container {
  .logo-icon {
    background: url(../../images/Logo.png) no-repeat;
    width: 46px;
    height: 50px;
  }
  .logo-text {
    color: #02ded0;
    font-size: 30px;
  }
}

.nav-header {
  li {
    padding: 15px 25px 15px 0;
  }
  a {
    color: $white !important;
    font-weight: bold;
  }
  a:hover {
    color:#02ded0 !important;
  }
}

////////////////////////////////////////
/* MEDIA
@media (max-width: 991px) {
  .logo-header {
    .logo-text {
      font-size: 14px;
    }
  }

  .carousel-text {
    h1 {
      font-size: 18px;
    }

    p {
      font-size: 7px;
    }
  }

  .works-photo .work-photo {
    min-height: 150px;
  }

  .navbar-header {
    padding: 0;
  }

  .navbar-collapse {
    background-color: #ccc;
    padding: 10px;

    .nav-header li a:hover {
      border: 0 !important;
    }
  }
}

@media (max-width: 767px) {
  .lists-work li {
    padding: 0 !important;

    a {
      padding: 10px;
    }
  }

  .our-team {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .lists-work li a {
    padding: 2px 4px;
    font-size: 11px;
  }
  .logo-header {
    .brandi {
      width: 50px;
      height: 15px;
      background-size: cover;
    }

    .logo-text {
      font-size: 8px;
    }
  }

  .team-header,
  .works-header,
  .features-header {
    margin-top: 15px;
    margin-bottom: 30px;

    h2 {
      font-size: 5px;
    }
  }
  .carousel-indicators {
    bottom: 20%;
  }
  .carousel-caption {
    bottom: 10px;
    padding: 0;
  }
  .carousel-text p {
    padding-bottom: 50px;
    font-size: 10px;
  }
  .carousel-text p::after {
    width: 15px;
    top: 8px;
    right: 250px;
  }
  .carousel-text p::before {
    width: 15px;
    top: 8px;
    left: 250px;
  }
  &.carousel-text {
    h1 {
      font-size: 16px;
    }
    h2 {
      font-size: 12px;
    }

    p {
      font-size: 10px;
      margin: 0;
    }
  }

  .team-header {
    padding-top: 30px;
  }
  .our-team {
    padding-top: 25px;
    padding-bottom: 0;
  }
  .clock-cantainer .facts {
    font-size: 30px;
  }
  .clock-cantainer {
    padding-bottom: 80px;
  }
  .contacts {
    text-align: center;
  }
  h5 {
    text-align: center;
    padding-top: 20px;
  }
  .form-icons {
    flex-direction: row !important;
    justify-content: space-between !important;
    padding-top: 40px;
  }
  .text-right {
    text-align: center !important;
  }
  .form-wrapper {
    padding-bottom: 40px;
  }
  .footer-container {
    padding: 15px 0;
    text-align: center;

    .row > * {
      margin: 10px 0;
    }
    .footer-logo {
      padding-top: 40px;
      p {
        padding-top: 20px;
      }
    }
    .footer-form {
      padding-top: 40px;
      .form-group {
        padding-top: 20px;
      }
    }
  }
  .shape::before {
    top: 96px;
    left: 310px;
  }
  .footer-wrapper .footer-list {
    padding-top: 20px;
  }
  .footer-wrapper .footer-list .footer-lists ul {
    padding: 20px 0 0 0 !important;
  }
  .footer-wrapper .footer-info {
    padding-top: 70px;
  }
  .footer-info p:first-child {
    border-top: 1px solid #177e72;
    border-left: 0;
    padding-top: 10px;
  }
  .footer-wrapper {
    padding-bottom: 10px;
  }
}*/
